.CompanyWorkExperience {
    display: inline-block;
}

.CompanyWorkExperience-positions {
    width: 67%;
    padding: 0;
    float: left;
}

.CompanyWorkExperience-location {
    width: 33%;
    padding: 0;
    font-size: 12px;
    text-align: right;
    float: right;
}

.CompanyWorkExperience-name {
    display: inline-block;
    width: 100%;
    padding: 0;
    font-size: 16px;
    color: #35a7ff !important;
}
