.SkillsGraph-guide {
    display: table;
    width: 100%;
    height: 16px;
}

.SkillsGraph-guide-empty-column {
    display: table-cell;
    width: 185px;
    min-width: 185px;
    height: 16px;
}

.SkillsGraph-guide-bar {
    display: table-cell;
    width: 100%;
    height: 16px;
}

.SkillsGraph-guide-bar-quarter {
    display: inline-block;
    vertical-align: bottom;
    width: 25%;
    height: 16px;
    border-right: 2px solid #46494C !important;
}

.SkillsGraph-body {
    padding-top: 8px;
}

@media (min-width: 768px) {
    .SkillsGraph-guide-empty-column {
        width: 200px;
        min-width: 200px;
    }
}

@media print, (min-width: 992px) {
    .SkillsGraph-guide-empty-column {
        width: 185px;
        min-width: 185px;
    }
}
