.SkillsGraph-guide {
    display: table;
    width: 100%;
    height: 15px;
}

.SkillsGraph-guide-empty-column {
    display: table-cell;
    width: 185px;
    height: 15px;
}

.SkillsGraph-guide-bar {
    display: table-cell;
    width: 280px;
    height: 15px;
}

.SkillsGraph-guide-bar-quarter {
    display: inline-block;
    width: 70px;
    height: 15px;
    border-right: 2px solid #46494C !important;
}

.SkillsGraph-body {
    padding-top: 5px;
}
