.SkillBar {
    display: table;
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
}

.SkillBar:last-child {
    padding-bottom: 0;
    height: 20px;
}

.SkillBar-name {
    display: table-cell;
    vertical-align: top;
    text-align: right;
    width: 185px;
    min-width: 185px;
    height: 100%;
    padding-right: 15px;
}

.SkillBar-graph {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.SkillBar-graph-bar {
    width: 100%;
    height: 20px;
    border: 1px solid #46494C;
}

.SkillBar-graph-fill {
    height: 18px;
    background: #045e8e;
}

@media (min-width: 768px) {
    .SkillBar-name {
        width: 200px;
        min-width: 200px;
    }
}

@media print, (min-width: 992px) {
    .SkillBar-name {
        width: 185px;
        min-width: 185px;
    }
}
