/* .resume-container {
    width: 1000px;
    padding: 40px 0 60px 0;
    color: #46494C !important;
    -webkit-print-color-adjust: exact;
  
    .resume-header {
      display: inline-block;
      width: 100%;
      height: 135px;
      border-bottom: 2px solid #46494C !important;
      padding: 0 20px 23px;
  
      .personal-info {
        display: inline-block;
        text-align: left;
        float: left;
        width: 65%;
  
        h2 {
          margin-top: 0;
        }
  
        .summary {
          font-size: 12px;
        }
      }
  
      .contact-info {
        display: inline-block;
        text-align: right;
        float: right;
        width: 35%;
        height: 100%;
        font-size: 12px;
  
        .contact-item-table {
          display: table;
          width: 100%;
          height: 25%;
  
          .contact-item-cell {
            display: table-cell;
            vertical-align: middle;
  
            i.glyphicon {
              padding-left: 3px;
              font-size: 14px;
              top: 3px;
              color: #35a7ff !important;
  
              &:before {
                color: #35a7ff !important;
              }
            }
          }
        }
      }
    }
  
    .resume-body {
      display: table;
      width: 100%;
      padding: 20px;
  
      .section-header {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 20px;
      }
  
      .left-column {
        display: table-cell;
        width: 50%;
        padding-right: 15px;
  
        .work-experience {
  
          .work-experience-company {
            display: inline-block;
            //padding-bottom: 15px;
  
            .company-position {
              display: inline-block;
              padding: 0;
  
              .position {
                font-size: 12px;
                display: inline-block;
  
                .position-name {
                  display: inline;
                  font-weight: 600;
                  font-size: 14px;
                }
  
                .position-divider {
                  display: inline;
  
                }
  
                .position-date {
                  display: inline;
  
                }
              }
            }
  
            .company-location {
              display: inline-block;
              float: right;
              padding: 0;
              font-size: 12px;
              text-align: right;
            }
  
            .company-name {
              padding: 0;
              font-size: 16px;
              color: #35a7ff !important;
            }
          }
  
          .work-accomplishments {
            padding-top: 15px;
  
            .work-accomplishments-header {
              font-size: 12px;
              font-weight: 600;
              color: #35a7ff !important;
            }
  
            .work-accomplishments-summary {
              line-height: 1.15;
              padding: 4px 0;
            }
  
            .work-accomplishments-tech {
              display: table;
              font-style: italic;
              font-size: 11px;
  
              .tech-label {
                display: table-cell;
                min-width: 130px;
                width: 130px;
              }
  
              .tech-list {
                display: table-cell;
                width: 100%;
                text-align: right;
                color: #35a7ff !important;
              }
  
            }
  
            .work-accomplishments-list {
              margin-bottom: 0;
              padding-left: 30px;
              list-style-type: square;
            }
          }
        }
      }
  
      .right-column {
        display: table-cell;
        width: 50%;
        padding-left: 15px;
  
        .padded-bottom {
          padding-bottom: 20px;
        }
  
        .skills {
  
          .skills-graph-container {
  
            .skills-graph-guide {
              display: table;
              width: 100%;
              height: 15px;
  
              .empty-graph-column {
                display: table-cell;
                width: 185px;
                height: 15px;
              }
  
              .guide-bar {
                display: table-cell;
                width: 280px;
                height: 15px;
  
                .guide-bar-quarter {
                  display: inline-block;
                  width: 67px;
                  height: 15px;
                  border-right: 2px solid #46494C !important;
                }
              }
  
            }
  
            .skills-graph {
              padding-top: 5px;
  
              .skill-table {
                display: table;
                width: 100%;
                height: 50px;
                padding-bottom: 10px;
  
                &:last-child {
                  padding-bottom: 0;
                }
  
                .skill-text-column {
                  display: table-cell;
                  vertical-align: top;
                  text-align: right;
                  width: 185px;
                  height: 100%;
                  padding-right: 15px;
                }
  
                .graph-column {
                  display: table-cell;
                  vertical-align: top;
                  width: 280px;
  
                  .graph-bar {
                    width: 100%;
                    height: 20px;
                    border: 1px solid #46494C !important;
  
                    .graph-fill {
                      height: 18px;
                      background: #35a7ff !important;
                    }
                  }
                }
              }
            }
          }
        }
  
        .interests {
          line-height: 1.75;
        }
  
        .education {
  
          .dates {
            color: #35a7ff !important;
            font-size: 12px;
            font-weight: 600;
          }
  
          .degree {
            font-weight: 600;
          }
  
          .major {
            font-size: 12px;
            span {
              color: #35a7ff !important;
              font-weight: 600;
            }
          }
  
          .specialization {
            font-size: 12px;
  
            span {
              color: #35a7ff !important;
              font-weight: 600;
            }
          }
  
          .school {
            font-size: 16px;
          }
        }
      }
    }
  } */
