.Resume {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    max-width: 1000px;
    padding: 40px 0 60px 0;
    margin-left: auto;
    margin-right: auto;
    color: #46494C !important;
    -webkit-print-color-adjust: exact;
}

.Resume-body {
    display: block;
    width: 100%;
    padding: 20px;
}

.Resume-section {
    padding-bottom: 20px;
}

.Resume-section-header {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
}

.Resume-left-column {
    display: block;
    width: 100%;
}

.Resume-right-column {
    display: block;
    width: 100%;
}

.Resume-work-experience {
    padding-bottom: 15px;
}

.Resume-work-experience:last-child {
    padding-bottom: 0;
}

.Resume-skills {
    padding-bottom: 20px;
}

.Resume-interests {
    line-height: 1.75;
    padding-bottom: 20px;
}

.Resume-education-dates {
    color: #045e8e !important;
    font-size: 12px;
    font-weight: 600;
}

.Resume-education-degree {
    font-weight: 600;
}

.Resume-education-major,
.Resume-education-specialization {
    font-size: 12px;
}

.Resume-education-major > span,
.Resume-education-specialization > span {
    color: #045e8e !important;
    font-weight: 600;
}

.Resume-education-school {
    font-size: 16px;
}

.HorizontalRule {
    border-bottom: 1px solid #b1b1b1;
    margin: 1.6em 32px 1.8em;
    height: 10px;
    display: block;
    position: relative;
    text-align: center;
    background: none;
}

.HorizontalRule:last-child {
    display: none;
}

@media print, (min-width: 992px) {
    .Resume-body {
        display: table;
    }

    .Resume-left-column {
        display: table-cell;
        width: 50%;
        padding-right: 15px;
    }
    
    .Resume-right-column {
        display: table-cell;
        width: 50%;
        padding-left: 15px;
    }
}

@media print {
    .Resume {
        width: 1000px;
    }
}
