.Resume {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    max-width: 1000px;
    padding: 56px 0;
    margin-left: auto;
    margin-right: auto;
    color: #46494C !important;
    -webkit-print-color-adjust: exact;
}

.Resume-body {
    display: block;
    width: 100%;
}

.Resume-section {
    padding-bottom: 16px;
}

.Resume-section-header {
    background-color: #045e8e;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 16px;
}

.Resume-left-column {
    display: block;
    width: 100%;
    padding: 24px 24px 0;
}

.Resume-right-column {
    display: block;
    width: 100%;
    padding: 0 24px 24px;
}

.Resume-work-experience {
    padding-bottom: 16px;
}

.Resume-work-experience:last-child {
    padding-bottom: 0;
}

.Resume-interests-list {
    line-height: 1.75;
    margin-top: -4px;
}

.Resume-education-dates {
    color: #045e8e !important;
    font-size: 12px;
    font-weight: 600;
}

.Resume-education-degree {
    font-weight: 600;
}

.Resume-education-major,
.Resume-education-specialization {
    font-size: 12px;
}

.Resume-education-major > span,
.Resume-education-specialization > span {
    color: #045e8e !important;
    font-weight: 600;
}

.Resume-education-school {
    font-size: 16px;
}

.HorizontalRule {
    border-bottom: 1px solid #b1b1b1;
    margin: 1.6em 32px 1.8em;
    height: 8px;
    display: block;
    position: relative;
    text-align: center;
    background: none;
}

.HorizontalRule:last-child {
    display: none;
}

@media print, (min-width: 992px) {
    .Resume-body {
        display: flex;
    }

    .Resume-left-column {
        width: 30%;
        padding: 0 16px 0 0;
    }

    .Resume-right-column {
        width: 70%;
        padding: 24px 24px 24px 16px;
    }
}

@media print {
    .Resume {
        width: 1000px;
        padding: 0;
        font-size: 15px;
    }
}
