.ResumeHeader {
    display: block;
    width: 100%;
    border-bottom: 2px solid #46494C !important;
    padding: 0 20px 23px;
}

.ResumeHeader-personal-info {
    display: block;
    text-align: center;
    width: 100%;
}

.ResumeHeader-personal-info-name {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1.1;
    color: #045e8e;
}

.ResumeHeader-personal-info-summary {
    font-size: 12px;
    margin-bottom: 8px;
}

.ResumeHeader-contact-info {
    display: block;
    text-align: center;
    width: 100%;
    height: 110px;
    font-size: 12px;
}

.ResumeHeader-contact-item-table {
    display: table;
    width: 100%;
    height: 25%;
}

.ResumeHeader-contact-item-cell {
    display: table-cell;
    vertical-align: middle;
}

.ResumeHeader-contact-info-text {
    margin-left: 4px;
    margin-right: 0;
    display: inline;
}

.ResumeHeader-contact-info-icon {
    display: none;
}

.ResumeHeader-contact-info-icon-mobile {
    display: inline-block;
    margin-right: 3px;
    color: #045e8e;
}

@media print, (min-width: 768px) {
    .ResumeHeader {
        display: table;
    }
    
    .ResumeHeader-personal-info {
        display: table-cell;
        vertical-align: top;
        text-align: left;
        width: 65%;
        padding-right: 15px;
    }

    .ResumeHeader-personal-info-summary {
        margin-bottom: 0;
    }
    
    .ResumeHeader-contact-info {
        display: table-cell;
        text-align: right;
        width: 35%;
    }

    .ResumeHeader-contact-info-text {
        margin-left: 0;
        margin-right: 4px;
    }
    
    .ResumeHeader-contact-info-icon {
        display: inline-block;
        margin-left: 3px;
        color: #045e8e;
    }
    
    .ResumeHeader-contact-info-icon-mobile {
        display: none;
    }
}
