.WordCloud {
    height: 200px;
    width: 100%;
}

.WordCloud > div {
    height: 200px;
    width: 100%;
}

@media print, (min-width: 992px) {
    .WordCloud {
        width: 700px;
    }

    .WordCloud > div {
        width: 700px;
    }
}
