.Skills {
    color: #46494C;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .Skills {
        width: 50%;
        height: auto;
        position: absolute !important;
        right: 0;
    }
}

.Skills-inner {
    padding: 30px 0;
}

.Skills-section {
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.Skills-section-header {
    color: #045e8e;
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
}

.Skills-section-info {
    padding-bottom: 15px;
}

.Skills-section-description {
    text-indent: 20px;
}

.Skills-section-highlight {
    color: #045e8e;
}

.Skills-section-employer-link {
    color: #045e8e;
}

.Skills-section-employer-link:hover,
.Skills-section-employer-link:active,
.Skills-section-employer-link:focus {
    color: #034162;
}

.Skills-languages,
.Skills-frameworks {
    padding-top: 30px;
}

.Skills-languages-description,
.Skills-frameworks-description {
    color: #045e8e;
    font-size: 16px;
    padding-bottom: 20px;
}

.Skills-languages-list,
.Skills-frameworks-list {
    text-align: center;
}
